title=Adblock Plus system requirements

{%- macro browser_versions(browser_name, internal_name, versions) %}
<h2 id="{{ internal_name }}">{{ browser_name }}</h2>
<ul>
  {%- set versions = versions or get_browser_versions(internal_name) %}
  {%- if versions.previous %}
  <li>{{ browser_name }} {{ versions.previous }}</li>
  {%- endif %}
  <li>{{ browser_name }} {{ versions.current }}</li>
  {%- for version in versions.unreleased %}
  <li>{{ browser_name }} {{ version }}{{ ': Using <a href="development-builds">Adblock Plus development builds</a> is recommended.'|translate("s3") }}</li>
  {%- endfor %}
</ul>
{%- endmacro %}

<p>
  {{ "Adblock Plus is a platform-independent extension, which means that it can be installed on any operating system provided that a host application is available."|translate("s1") }}
  {{ "Supported programs and versions are listed below."|translate("s2") }}
</p>

{% set firefox_versions = get_browser_versions("firefox") -%}
{{ browser_versions("Firefox", "firefox", firefox_versions) }}

{{ browser_versions("Google Chrome", "chrome") }}

{{ browser_versions("Opera", "opera") }}

<h2 id="safari">Safari</h2>
<ul>
  <li>Safari 6</li>
  <li>Safari 7</li>
  <li>Safari 8</li>
  <li>Safari 9</li>
  <li>Safari 10</li>
  <li>Safari 11</li>
</ul>

<h2 id="microsoft-edge">Microsoft Edge</h2>
<ul>
  <li>{{ "Experimental support for Microsoft Edge released with Windows 10 Fall Creators Update or later" | translate("edge-creators-update", "list item") }}</li>
</ul>

<h2 id="internet-explorer">Internet Explorer</h2>
<ul>
  <li>Internet Explorer 8</li>
  <li>Internet Explorer 9</li>
  <li>Internet Explorer 10</li>
  <li>Internet Explorer 11</li>
</ul>

{{ browser_versions("Yandex.Browser", "yandex") }}

{{ browser_versions("Firefox Mobile", "fennec", firefox_versions) }}
